<a href="https://colab.research.google.com/github/sbohorqueza/Diplomado_Ciencia_Datos/blob/main/Tarea_4_P1_Santiago_Bohorquez.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PUNTO 1

1. Consiga el conjunto de datos iris.csv. (ver enlace adjunto)
2. Escriba una clase iterable que tenga la siguiente funcionalidad
* Al instanciar un objeto, lee el archivo de datos y lo coloca en un dataframe interno en la clase.
* Cada vez que se le pidan datos, debe regresar los dos siguientes datos.
* Imprima "error" si los datos se han agotado.

In [1]:
import pandas as pd

In [2]:
class MiClase:
  flag=0
  datos1=[]
  datos2=[]
  def __init__(self):
    MiClase.flag+=1
    tabla = pd.read_csv("/content/iris.csv")
    try:
      MiClase.datos1.append(tabla.iloc[self.flag+1])
      print("Record N.",self.flag+1 ,"\n",tabla.iloc[self.flag+1])
      try:
        MiClase.datos2.append(tabla.iloc[self.flag+2])
        print("\n\nRecord N.",self.flag+2 ,"\n" ,"\n", tabla.iloc[self.flag+2])
      except:
        self.datos2.append("Error")
        print("Error")
    except:
      self.datos1.append("Error")
      print("Error")

    def clear_flag():
      MiClase.flag = 0

In [4]:
datos = pd.read_csv("/content/iris.csv")

In [5]:
datos

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
instancia1=MiClase()

Record N. 2
 sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object


Record N. 3

 sepal.length       4.6
sepal.width        3.1
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 3, dtype: object

In [7]:
instancia2=MiClase()

Record N. 3
 sepal.length       4.6
sepal.width        3.1
petal.length       1.5
petal.width        0.2
variety         Setosa
Name: 3, dtype: object


Record N. 4

 sepal.length       5.0
sepal.width        3.6
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 4, dtype: object

Cada vez que se instancia el objeto, muestra los 2 datos siguiente.